*{
    margin: 0;
    padding: 0;
    font-family: 'Secular One', sans-serif;
}

body{
    background-color: #242436;
}

header{
    width: 100%;
    height: 100px;
    box-shadow: 0 0 10px black;
}

#logoandmenu{
    margin-left: 10%;
    padding-top: 20px;
}

#logo{
    border-left: 1px solid gray;
    padding-left: 15px;
}

#menu{
    padding-right: 15px;
    padding-bottom: 10px;
    transition: all 0.5s;
}

#menu:hover{
    color: white;
    cursor: pointer;
}

ion-icon{
    color: #cd1835;
}

.iconnav{
    margin-right: 10px;
    transition: all 0.5s;
}

.iconnav:hover{
    color: white;
}

header nav{
    display: flex;
    justify-content: end;
    margin-right: 10%;
    margin-top: -50px;
}

header nav a{
    display: flex;
    align-items: center;
    color: #cd1835;
    text-decoration: none;
    padding-left: 30px;
    margin-left: 20px;
    transition: all 0.5s;
}

header nav a:hover{
    color: white;
}



input{
    background-color: #34344b;
    border-radius: 20px;
    width: 300px;
    height: 30px;
}

#searchbar{
    display: flex;
    justify-content: center;
    margin-top: -35px;
}

#perfil{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: -40px;
    margin-right: 3%;
    cursor: pointer;
}

#perfil img{
    border-radius: 50%;
    transition: all 0.1s;
}

#perfil img:hover{
    border: 3px solid white;
}

main{

    margin-top: 50px;
    margin-left: 10%;
    width: 1000px;
}

#content{
    border-top: 3px solid white;
    margin-top: 20px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 4fr);
}

#container{
    width: 265px;
    color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    height: 210px;
}

#container figure img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 265px;
    transition: all 0.5s;
    cursor: pointer;
}

#container figure img:hover{
    width: 280px;
    border-bottom-right-radius: 20px;
    box-shadow: 10px 0 20px black;

}

figcaption{
    padding-left: 10px;
}


#borning{
    border: 3px solid white;
    border-radius: 25px;
    width: 120px;
    color: white;
    text-align: center;
    margin-left: 380px;
    width: 200px;
}